* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: black;
    color: white;
    height: 100vh;
    font-family: 'New Super Mario Font U', sans-serif;
                                                
}

ul {
    list-style: none;
}

body::before {
    content: "";
    background-image: url(/src/assets/desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100px;

}

.selection {
    display: flex;
	align-items: center;
	gap: 30px;
	justify-content: center;
    padding-top: 70px;
}

.selection .list-characters {
    display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}


.selection .characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 585px;
    gap: 20px;
    
}

.selection .characters .title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid #f7d92f;
    
}

.list-characters .character img{
    max-width: 120px;
    max-height: 120px;

}

.list-characters .character.selected {
    box-shadow: 0px 0px 24px 5px #f7d92f;
    border-radius: 20%;
    box-shadow: inset 1px 0px 30px 5px #f7d92f;
}

.character-selected{
    text-align: center;
    max-height: 530px;
    justify-content: center;
}

.character-selected .big-character {
    width: 200px;
    height: 250px;
    max-width: fit-content;
    max-height: fit-content;
}

.character-selected .charactername {
    border-bottom: 2px solid #f7d92f;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.character-selected .character-description {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 15px;
    width: 300px;
}

audio {
    display: flex;
    width: 200px;
    height: 250px;
    margin: auto;
}

@media (max-width: 1120px) {
    .header .logo {
        max-width: 190px;
    }
    .character-selected {
        flex-direction: column-reverse;
        max-width:  430px;
        margin: 0 auto;
    }
    
    .character-selected .characters {
        margin-top: 37px;
    }
    
    .character-selected .title {
        font-size: 15px;
    }

    .character-selected .list-characters {
        gap: 9px
    }
    .character-selected img {
        width: 80px;
    }

    .character-selected .big-character {
        width: 350px;
        height: 350px;
    }

    .character-selected .character-description {
        width: 80%;
        font-size: 16px;
        margin: 20px auto;
    }
}
